<button (click)="animate()">Animate</button>
<button (click)="boxState = 'special'">Set Special State</button>
<button (click)="visible = !visible">Toggle Visibility</button>
<hr>
<div class="wrap">

  <app-animate></app-animate>

  <div
    *ngIf="visible"
    class="box"
    [@box]="boxState"
    (@box.start)="animationStarted($event)"
    (@box.done)="animationDone($event)"
  >
    <h4>{{ boxState | uppercase}}</h4>
  </div>
</div>
